@using ApplicationCore.Contracts.Service
@inject IGenreService genreService

@{
    var genres = await genreService.GetAllGenres();
}

<li class="nav-item dropdown me-auto">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">GENRES</a>
    <ul class="dropdown-menu">
        @foreach (var genre in genres)
        {
            <li><a class="dropdown-item" asp-controller="Movies" asp-action="GenreMovies" asp-route-id="@genre.Id">@genre.Name</a></li>
        }
    </ul>
</li>

